@model ContatoModel
@{
    ViewData["Title"] = "Criar contato";
}

<div class="text-center">
    
    <br>
    <h1 class="display-4">Criação de contatos</h1>

</div>

<form asp-controller="Contato" asp-action="Create" method="post">
    <div class="mb-3">
        <label for="Nome" class="form-label fw-bold">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do contato">
    </div>
    <div class="mb-3">
        <label for="Email" class="form-label fw-bold">E-mail</label>
        <input type="email" asp-for="Email" class="form-control" placeholder="Digite o e-mail do contato">
    </div>
    <div class="mb-3">
        <label for="Celular" class="form-label fw-bold">Celular</label>
        <input type="text" asp-for="Celular" class="form-control" placeholder="Digite o celular do contato">
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar</button>
    <a class="btn btn-secondary" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>
</form>

<script> const celularInput = document.getElementById("Celular"); 
        celularInput.addEventListener("input", function () 
        { let valor = celularInput.value.replace(/\D/g, "").slice(0, 11); 
            if (valor.length <= 10)
        { 
            valor = valor.replace(/(\d{2})(\d{4})(\d{0,4})/, "($1) $2-$3"); 
        } else 
        { 
            valor = valor.replace(/(\d{2})(\d{5})(\d{0,4})/, "($1) $2-$3"); 
        } 
            celularInput.value = valor; }); 
</script>