@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Acesso negado";
}

<div class="text-center">
    <p>Você não possui permissão para essa funcionalidade. <a asp-controller="Home" asp-action="Index">Voltar</a></p>
</div>